{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}


    <table class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Name_produit</th>
                <td>{{ livraison.nameProduit }}</td>
            </tr>
            <tr>
                <th>Artiste</th>
                <td>{{ livraison.artiste }}</td>
            </tr>
            <tr>
                <th>Addres</th>
                <td>{{ livraison.addres }}</td>
            </tr>
            <tr>
                <th>Date_sort</th>
                <td>{{ livraison.dateSort ? livraison.dateSort|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>User_name</th>
                <td>{{ livraison.userName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livraison_index') }}"class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg
    active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">back to list</a>

    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}"class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg
     active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
