{% extends 'base.html.twig' %}

{% block title %}Reservation new{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdRes</th>
                <th>NbPlace</th>
                <th>Dateres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idRes }}</td>
                <td>{{ reservation.nbPlace }}</td>
                <td>{{ reservation.dateres ? reservation.dateres|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idRes': reservation.idRes}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idRes': reservation.idRes}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
