{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <h1>Artiste</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="px-4 py-3">IdArtiste</th>
                <th class="px-4 py-3">Firstname</th>
                <th class="px-4 py-3">Lastname</th>
                <th class="px-4 py-3">Birthplace</th>
                <th class="px-4 py-3">Birthdate</th>
                <th class="px-4 py-3">Description</th>
                <th class="px-4 py-3">Image</th>
                <th class="px-4 py-3">Address</th>
                <th class="px-4 py-3">Phonenumber</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Username</th>
                <th class="px-4 py-3">Password</th>
                <th class="px-4 py-3">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td>{{ artiste.idArtiste }}</td>
                <td>{{ artiste.firstname }}</td>
                <td>{{ artiste.lastname }}</td>
                <td>{{ artiste.birthplace }}</td>
                <td>{{ artiste.birthdate }}</td>
                <td>{{ artiste.description }}</td>
                <td>{{ artiste.image }}</td>
                <td>{{ artiste.address }}</td>
                <td>{{ artiste.phonenumber }}</td>
                <td>{{ artiste.email }}</td>
                <td>{{ artiste.username }}</td>
                <td>{{ artiste.password }}</td>
                <td>
                    <a href="{{ path('app_artiste_show', {'idArtiste': artiste.idArtiste}) }}">show</a>
                    <a href="{{ path('app_artiste_edit', {'idArtiste': artiste.idArtiste}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artiste_new') }}">Create new</a>
{% endblock %}
