<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v1 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{{ asset('assets/Front/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css')}}">
    <script src="{{ asset('assets/js/Notification.js')}}"></script>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{ asset('assets/Front/css/style.css')}}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
    <body>

    <div class="wrapper" style="background-image: url({{ asset('assets/Front/images/bg3.jpg')}});">
        <div class="inner">
            <div style="height: auto; width: 405px">
                <img src="{{ asset('assets/Front/images/regart1.jpg')}}" alt="">
            </div>
            {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
            <form action="">
                <h3>Artiste Registration Form</h3>
                <div class="form-group">
                    {{ form_widget(form.firstname,{attr:{ class:"form-control", placeholder:"First name"}}) }}
                    <span style="color: red">{{ form_errors(form.firstname,{attr:{'class':'text-danger'}} ) }}</span>
                    {{ form_widget(form.lastname,{attr:{ class:"form-control", placeholder:"Last name"}}) }}
                    <span style="color: red">{{ form_errors(form.lastname,{attr:{'class':'text-danger'}} ) }}</span>
                </div>
                <div class="form-group">
                    {{ form_widget(form.birthplace,{attr:{ class:"form-control", placeholder:"Birthplace"}}) }}
                    <span style="color: red">{{ form_errors(form.birthplace,{attr:{'class':'text-danger'}} ) }}</span>
                    <input type="date" placeholder="birthdate" class="form-control"{{ form_widget(form.birthdate) }}>
                    <span style="color: red">{{ form_errors(form.birthdate,{attr:{'class':'text-danger'}} ) }}</span>
                </div>

                <div class="form-group">
                    {{ form_widget(form.image,{attr:{ class:"form-control"}}) }}
                    <span style="color: red">{{ form_errors(form.image,{attr:{'class':'text-danger'}} ) }}</span>
                    {{ form_widget(form.description,{attr:{ class:"form-control", placeholder:"Description"}}) }}
                    <span style="color: red">{{ form_errors(form.description,{attr:{'class':'text-danger'}} ) }}</span>
                </div>

                <div class="form-group">
                    {{ form_widget(form.address,{attr:{ class:"form-control", placeholder:"Address"}}) }}
                    <span style="color: red">{{ form_errors(form.address,{attr:{'class':'text-danger'}} ) }}</span>
                    {{ form_widget(form.phonenumber,{attr:{ class:"form-control", placeholder:"Phone Number"}}) }}
                    <span style="color: red">{{ form_errors(form.phonenumber,{attr:{'class':'text-danger'}} ) }}</span>
                </div>

                <div class="form-wrapper">
                    {{ form_widget(form.email,{attr:{ class:"form-control", placeholder:"Email"}}) }}
                    <span style="color: red">{{ form_errors(form.email,{attr:{'class':'text-danger'}} ) }}</span>
                </div>
                <div class="form-wrapper">
                    {{ form_widget(form.username,{attr:{ class:"form-control", placeholder:"Username"}}) }}
                    <span style="color: red">
							{{ form_errors(form.username,{attr:{'class':'text-danger'}} ) }}
						</span>
                </div>

                <div class="form-group">
                    {{ form_widget(form.password.first,{attr:{ class:"form-control", placeholder:"Password"}}) }}
                    <span style="color: red">{{ form_errors(form.password.first,{attr:{'class':'text-danger'}} ) }}</span>
                    {{ form_widget(form.password.second,{attr:{ class:"form-control", placeholder:"Confirm Password"}}) }}
                    <span style="color: red">{{ form_errors(form.password.second,{attr:{'class':'text-danger'}} ) }}</span>
                </div>
                <div class="form-wrapper">
                    <input type="checkbox" placeholder="terms" class="form-check-input" value="" id="acceptTerms" required="" {{ form_widget(form.agreeTerms) }}>
                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                    <br><a href="{{ path('app_login') }}" style="color: #1a1c23; margin-top: 60px">you already have an account! click here</a>

                </div>

                <div>{{ include('artiste/_form.html.twig') }}</div>

                <!--<i class="zmdi zmdi-arrow-right"></i>-->
            </form>
            {{ form_end(form) }}
        </div>
    </div>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>