{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table >
        <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase
                border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th>Id</th>
                <th>Id_panier</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Numero</th>
                <th>Status</th>
                <th>Total amount</th>
                <th>Created at</th>
                <th>Codepostal</th>
                <th>Adresse</th>
                <th>Statu Livraison</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for commande in commandes %}
            <tr class="text-gray-700 dark:text-gray-400">
                <td>{{ commande.id }}</td>
                <td>{{ commande.idPanier }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.numero }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.totalAmount }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.codepostal }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.statuLiv }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                    <a href="{{ path('shift_row4',{'id': commande.id}) }}">Livrai</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}"class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
    >Create new</a>
{% endblock %}
