{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<h1>Shopping Cart</h1>

<div class="row">
    {% for item in cart %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <img src="{{ item.image }}" class="card-img-top" alt="{{ item.articleName }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.articleName }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per Unit: {{ item.prixUnitaire }}</li>
                    <li class="list-group-item">Quantity: {{ item.quantity }}</li>
                    <li class="list-group-item">Artist Name: {{ item.nomArtist }}</li>
                    <li class="list-group-item">Artist Last Name: {{ item.prenomArtist }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<p>Total: {{ total }}</p>
{% endblock %}
