{% extends 'base2.html.twig' %}


{% block body %}
	<body>

		<div class="wrapper" style="background-image: url({{ asset('assets/Front/images/imageback.jpg')}});">
			<div class="inner">
				<div class="image-holder">
					<img src="{{ asset('assets/Front/images/s-l1600.jpg')}}" alt="">
				</div>
				{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
				<form action="">
					<h3>Client Registration Form</h3>
					<div class="form-group">
	 				{{ form_widget(form.firstname,{attr:{ class:"form-control", placeholder:"First name"}}) }}
						<span style="color: red">{{ form_errors(form.firstname,{attr:{'class':'text-danger'}} ) }}</span>
						{{ form_widget(form.lastname,{attr:{ class:"form-control", placeholder:"Lasr name"}}) }}
						<span style="color: red">{{ form_errors(form.lastname,{attr:{'class':'text-danger'}} ) }}</span>

					</div>
					<div class="form-group">
						{{ form_widget(form.address,{attr:{ class:"form-control", placeholder:"Address"}}) }}
						<span style="color: red">{{ form_errors(form.address,{attr:{'class':'text-danger'}} ) }}</span>
						{{ form_widget(form.phonenumber,{attr:{ class:"form-control", placeholder:"Pne number"}}) }}
						<span style="color: red">{{ form_errors(form.phonenumber,{attr:{'class':'text-danger'}} ) }}</span>
					</div>

					<div class="form-wrapper">
						{{ form_widget(form.email,{attr:{ class:"form-control", placeholder:"Email"}}) }}
						<span style="color: red">{{ form_errors(form.email,{attr:{'class':'text-danger'}} ) }}</span>
					</div>
					<div class="form-wrapper">
						{{ form_widget(form.username,{attr:{ class:"form-control", placeholder:"Username"}}) }}
						<span style="color: red">
							{{ form_errors(form.username,{attr:{'class':'text-danger'}} ) }}
						</span>
					</div>

					<div class="form-group">
						{{ form_widget(form.password.first,{attr:{ class:"form-control", placeholder:"Password"}}) }}
						<span style="color: red">{{ form_errors(form.password.first) }}</span>
						{{ form_widget(form.password.second,{attr:{ class:"form-control", placeholder:"Comfirm password"}}) }}
						<span style="color: red">{{ form_errors(form.password.first) }}</span>
					</div>
					<div class="form-wrapper">
						<input type="checkbox" placeholder="terms" class="form-check-input" value="" id="acceptTerms" required="" {{ form_widget(form.agreeTerms,{attr:{ class:"form-check-input", placeholder:"terms", value:"", id:"acceptTerms", required:""}}) }}>
						<label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
					</div>

					  <div>{{ include('client/_form.html.twig') }}</div>
						<!--<i class="zmdi zmdi-arrow-right"></i>-->
				</form>
				{{ form_end(form) }}
			</div>
		</div>

	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
