{% extends 'base2.html.twig' %}


{% block body %}
	<body>

		<div class="wrapper" style="background-image: url({{ asset('assets/Front/images/imageback.jpg')}});">
			<div class="inner">
				<div class="image-holder">
					<img src="{{ asset('assets/Front/images/s-l1600.jpg')}}" alt="">
				</div>
				{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
				<form action="">
					<h3>Registration Form</h3>
					<div class="form-group">
	 				{{ form_widget(form.firstname,{attr:{ class:"form-control", placeholder:"firstname"}}) }}
						<input type="text" placeholder="Last Name" class="form-control" {{ form_widget(form.lastname) }}>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Address" class="form-control" {{ form_widget(form.address) }}>
						<input type="text" placeholder="Phone Number" class="form-control"{{ form_widget(form.phonenumber) }}>
					</div>

					<div class="form-wrapper">
						<input type="text" placeholder="Email" class="form-control" {{ form_widget(form.email) }}>
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control"{{ form_widget(form.username) }}>
						<i class="zmdi zmdi-account"></i>
					</div>

					<div class="form-group">
						<input type="text" placeholder="Password" class="form-control"{{ form_widget(form.password.first) }}>
						{{ form_errors(form.password.first) }}
						<input type="text" placeholder="Confirm Password" class="form-control"{{ form_widget(form.password.second) }}>
					</div>
					<div class="form-wrapper">
						<input type="checkbox" placeholder="terms" class="form-check-input" value="" id="acceptTerms" required="" {{ form_widget(form.agreeTerms) }}>
						<label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
					</div>

					  <div>{{ include('client/_form.html.twig') }}</div>
						<!--<i class="zmdi zmdi-arrow-right"></i>-->
				</form>
				{{ form_end(form) }}
			</div>
		</div>

	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
