<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Event calendar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('calendar/examples/lib/main.css/main.min.css')}}" type="text/css">

</head>
<body>

<div id="calendar"></div>
<script src="{{ asset('calendar/examples/lib/main.js/main.min.js') }}"></script>
<script>
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        initialDate: '2020-09-12',
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        epiodes: [
            // Add the enchere events here
            {% for episode in episodes %}
            {
                name: '{{ episode.name }}',
                description: '{{ episode.description }}',
                {#startHour: '{{ episode.startHour|date('Y-m-d H:i:s') }}',#}

                prix: '{{ episode.prix }}'
            },
            {% endfor %}
        ]

    });

    calendar.render();

</script>
</body>
</html>