<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Event calendar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/main.min.css')}}" type="text/css">

</head>
<body>

<div id="calendar"></div>
<script src="{{ asset('assets/js/main.min.js') }}"></script>
<script>
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        initialDate: new Date(),
        // new Date(),
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        events: [
            // Add the events in calendar
            {% for event in events %}
            {
                title: '{{ event.name }}',
                description: '{{ event.description }}',
                {#dateEvemt: '{{ episode.dateEvemt }}',#}
                start: '{{ event.dateEvemt|date('Y-m-d H:i:s') }}',
                prix: '{{ event.prix }}'
            },
            {% endfor %}
        ]

    });

    calendar.render();

</script>
</body>
</html>