<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
<!-- Page Preloder -->
<!-- <div id="preloder">
    <div class="loader"></div>
</div>-->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">

        <li><span class="icon_search search-switch"></span></li>
        <li><a href={{ path('app_article_articlefavori') }}><span class="icon_heart_alt"></span>
                <div class="tip">{{ nbr|length }}</div>
            </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>

<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a href={{ path('app_article_articlefront') }}>Home</a></li>
                        <li><a href="#">Women’s</a></li>
                        <li><a href="#">Men’s</a></li>
                        <li class="active"><a href="./shop.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./product-details.html">Product Details</a></li>
                                <li><a href="../lignepanier">Shop Cart</a></li>
                                <li><a href="./checkout.html">Checkout</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href={{ path('app_article_articlefavori') }}><span class="icon_heart_alt"></span>
                                <div class="tip">{{ nbr|length }}</div>
                            </a></li>
                        <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-x-auto">

                            </div>
                        </div>
                </div>

                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
</header>
<!-- Header Section End -->
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <form id="search-form" name="gs" method="post" role="search" action="#">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Title</h4>
                            </div>
                            <div>
                                <fieldset>
                                    {% if(keyword=="")%}
                                        <div>
                                            <input id="searchtxt" autocomplete="off" type="text" name="keyword" class='w-full h-12 px-4 mb-2 text-lg text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline' placeholder="Type Something...">
                                        </div>
                                        <ul class="list"></ul>

                                    {% else %}
                                        <div>
                                            <input value={{keyword}} id="searchtxt" autocomplete="off" type="text" name="keyword" class='w-full h-12 px-4 mb-2 text-lg text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline' placeholder="Type Something...">
                                        </div>
                                        <ul class="list"></ul>
                                    {% endif %}
                                </fieldset>
                            </div>
                        </div>
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <fieldset>
                                <select default=$category name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                                    {% if(Categorie==null)%}
                                        <option value=null selected>All Categories</option>
                                    {% else %}
                                        <option value=null>All Categories</option>
                                    {% endif %}
                                    {% for category in categories %}
                                        {% if(category.getIdCategorie()==Categorie)%}
                                            <option selected value="{{category.getIdCategorie()}}">{{category.getNameCategorie()}}</option>
                                        {% else %}
                                            <option value="{{category.getIdCategorie()}}">{{category.getNameCategorie()}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </fieldset>
                        </div>

                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="10" data-max="99"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount" name="minamount">
                                        <input type="text" id="maxamount" name="maxamount">
                                    </div>
                                </div>
                            </div>
                            <button type="submit">Filter</button>
                        </div>
                    </form>
                    <div class="sidebar__sizes">
                        <div class="section-title">

                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ asset('/uploads/'~article.image)}}">
                                    {# <img src="{{ asset('/uploads/'~article.image)}}" class="image-popup"> #}
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="{{ path('app_article_indexdescription',{'id':article.getIdArticle()} )}}" ><span class="bi bi-arrows-angle-expand"></span></a></li>
                                        <li><a href="{{ path('app_favori_article_new',{'idArticle':article.getIdArticle()}) }}"><span class="icon_heart_alt"></span></a></li>
                          {# miaoui---#}<li><a id="add-tocart-{{ article.idArticle }}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <div class="rating">
                                        <h6><a href="#">{{ article.nomArticle }}</a></h6>
                                        {% set avgsum = 0 %}
                                        {% set num = 0 %}
                                        {% for r in article.ratings %}
                                            {% set num = num+1 %}
                                            {% set avgsum = r.rating+avgsum %}
                                        {% endfor %}

                                        {% if num==0 %}
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if num!=0 %}
                                            {% set avg = avgsum/num %}
                                            {% if avg!=5 %}
                                                {% for i in 1..avg|round  %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                                {% for i in avg|round+1..5  %}
                                                    <i class="fa fa-star-o"></i>
                                                {% endfor %}
                                            {% endif %}
                                            {% if avg==5 %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        {% endif %}
                                    </div>


                                    <div class="product__price">$ {{ article.price }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
 {# miaoui--------------------------------------------------------------------------------------------------------------------------#}
                    <script>
                        $(document).ready(function() {
                            $("a[id^='add-tocart-']").click(function(e) {
                                e.preventDefault();

                                var articleId = $(this).attr('id').split('-')[2];

                                var formData = {
                                    id: articleId,
                                };
                                $.ajax({
                                    type: 'POST',
                                    url: '{{ path('app_ligne_panier_newone') }}',
                                    data: JSON.stringify(formData),
                                    contentType: 'application/json',
                                    success: function (response) {
                                        if (response.success) {
                                            // alert(" Product Added To Cart ! ");
                                            $('#flash-message').addClass('alert alert-success').html("Product Added Successfully to Your Cart").show();
                                            setTimeout(function() {
                                                $('#flash-message').fadeOut("slow", function() {
                                                });
                                            }, 2000);

                                        } else {
                                            alert(" An Error Has accured ");
                                        }
                                    }
                                });
                            });
                        });
                    </script>

     {#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


                    {{ knp_pagination_render(
                        articles,
                        '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                        {
                            'queryParam1': 'param1 value',
                            'queryParam2': 'param2 value'
                        },
                        {
                            'align': 'center'
                        }
                    ) }}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function createNew(x) {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'message',
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>
{% include "chat/index.html.twig" %}
<!-- Shop Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
<script src="{{ asset('assets/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('assets/js/mixitup.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.countdown.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.slicknav.js')}}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.nicescroll.min.js')}}"></script>
<script src="{{ asset('assets/js/main.js')}}"></script>
<script>
    $.ajax({
        type: 'GET',
        url: 'http://127.0.0.1:8000/article/show/names',
        success: function (response) {
            // Handle the response from the controller
            let names = response.names;

            let sortedNames = names.sort();
            let input = document.getElementById("searchtxt");
            tab = [];
            input.addEventListener("keyup", (e) => {
                //loop through above array
                removeElements();
                sortedNames.forEach(i => {
                    //initially remove all elements (so if user erases a letter or adds new letter then clean previous out)
                    if(
                        i.toLowerCase().startsWith(input.value.toLowerCase()) &&
                        input.value !== ""
                    ){
                        let listItem = document.createElement("li");
                        // One common class name
                        listItem.classList.add("list-items");
                        listItem.style.cursor = "pointer";
                        listItem.setAttribute("onclick", "displayNames('"+i+"')");
                        //Display match part in bold
                        let word = "<b>" + i.substr(0,input.value.length) + "</b>";
                        word+= i.substr( input.value.length );
                        console.log(word);
                        //display the value in array
                        listItem.innerHTML = word;
                        document.querySelector(".list").appendChild(listItem);
                    }
                });
            });
            function displayNames(value){
                input.value = value;
                removeElements();
            }
            function removeElements(){
                //clear all the item
                let items = document.querySelectorAll(".list-items");
                items.forEach((item)=>{
                    console.log("1");
                    item.remove();
                });
            }

        }

    });

    let names = ['swipi','monalisa','bb','kkd'];

    let sortedNames = names.sort();
    let input = document.getElementById("searchtxt");
    tab = [];
    input.addEventListener("keyup", (e) => {
        //loop through above array
        removeElements();
        sortedNames.forEach(i => {
            //initially remove all elements (so if user erases a letter or adds new letter then clean previous out)
            if(
                i.toLowerCase().startsWith(input.value.toLowerCase()) &&
                input.value != ""
            ){
                let listItem = document.createElement("li");
                // One common class name
                listItem.classList.add("list-items");
                listItem.style.cursor = "pointer";
                listItem.setAttribute("onclick", "displayNames('"+i+"')");
                //Display match part in bold
                let word = "<b>" + i.substr(0,input.value.length) + "</b>";
                word+= i.substr( input.value.length );
                console.log(word);
                //display the value in array
                listItem.innerHTML = word;
                document.querySelector(".list").appendChild(listItem);
            }
        });
    });
    function displayNames(value){
        input.value = value;
        removeElements();
    }
    function removeElements(){
        //clear all the item
        let items = document.querySelectorAll(".list-items");
        items.forEach((item)=>{
            console.log("1");
            item.remove();
        });
    }
</script>

</body>
<style>

    ul{
        list-style: none;
        color: #ffffff;
    }
    .list{
        width: 100%;
        background-color: #b02222;
        border-radius: 5px 5px 5px 5px;
        margin-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
        position: absolute;
        z-index: 2;
        width: 200px;
    }
    .list-items{
        padding: 15px 5px;
    }
    .list-items:hover{
        background-color: #494242;
    }
</style>
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" type="text/css">


</html>