{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdArticle</th>
                <th>IdArtiste</th>
                <th>NomArticle</th>
                <th>Price</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>IdCategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idArticle }}</td>
                <td>{{ article.idArtiste }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.type }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.idCategorie }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
